---
// src/components/BlogPostPreviewRegular.astro
import PostMeta from "./PostMeta.astro";
import { extractPreviewContent } from "../../src/utils/content";
const { post } = Astro.props;

const contentToDisplay = extractPreviewContent(post);
---

<article class="post-preview">
  <h2 class="preview-title">
    <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
  </h2>
  <PostMeta
    pubDate={post.data.pubDate}
    lastEdited={post.data.lastEdited}
    author={post.data.author}
  />
  <div class="preview-content preview-text-content">
    <Fragment set:html={contentToDisplay} />
  </div>
  <a href={`/blog/${post.slug}/`} class="read-more">Read More &rarr;</a>
</article>

<style>
  /* Styles for REGULAR post previews */

  .post-preview .preview-title {
    /* h2 */
    font-size: 1.9rem;
    margin-bottom: 0.35rem;
  }

  .preview-content {
    margin-bottom: 1rem;
  }

  .read-more {
    margin-top: 1.2rem;
  }

  /* --- Mobile Adjustments for Regular Posts --- */
  @media (max-width: 768px) {
    .post-preview .preview-title {
      /* h2 */
      font-size: 1.6rem;
    }
  }

  @media (max-width: 480px) {
    .post-preview .preview-title {
      /* h2 */
      font-size: 1.4rem;
    }
  }
</style>
